* {
    font-family: 'Poppins', sans-serif;
}


/* ::-webkit-scrollbar {
    width: 0.8rem;
}

::-webkit-scrollbar-track {
    background: #1e293b;
    
}

::-webkit-scrollbar-thumb {
    background: #374151;

    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background: #6366f1;
} */